*.a
*.app
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.ko
*.la
*.lib
*.lo
*.log
*.o
*.obj
*.opensdf
*.orig
*.out
*.pch
*.pdb
*.py[co]
*.sdf
*.so
*.so.*
*.stt
*.tlog
*.vcxprj*
*.x86_64
*/Debug/*
*/Release/*
*/bin/*
*/build/*
*__MACOSX
*bin*
*build*
*xml
/tests/testsout/other
CMakeLists.txt.user*
IPSFile
bin/
generated_hostfile
tests/testsout/serial
width_final*
